---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import {SITE_TITLE, SITE_DESCRIPTION} from '../consts';
import LinkButton from "../components/LinkButton.astro";
import AppItem from "../components/AppItem.astro";

const flutterLogoImage = 'https://www.vectorlogo.zone/logos/flutterio/flutterio-icon.svg';
import bitacoraLogoImage from '../assets/images/bitacora_logo.svg'
import egwCoverImage from '../assets/images/egw/egw-cover.jpg'
import videoDiaryImage from '../assets/images/video_diary_cover.jpg'
---

<!doctype html>
<html lang="en">
<head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION}/>
</head>
<body class="container mx-auto max-w-2xl px-4">
<Header/>
<main>
    <h1 class="text-2xl font-medium mb-4">hola, soy Joseph León 👋</h1>
    <p class="text-base">
        Desarrollador mobile especializado en
        <LinkButton iconUrl={flutterLogoImage} title="Flutter" link="https://flutter.dev"/>
        . Actualmente trabajo en
        <LinkButton iconUrl={bitacoraLogoImage} title="Bitacora.io" link="https://bitacora.io"/>
        . Soy un comprometido con resolución de
        problemas; implementando y brindando mantenimiento a sistemas de acuerdo a las necesidades de cada proyecto al
        que me enfrento.
    </p>
    <p class="text-base">
        Me encanta construir aplicaciones móviles que ocasionen un impacto positivo en sus usuarios.
    </p>

    <h2 class="text-2xl font-medium mt-16 mb-4">mis apps</h2>
    <div class="grid grid-cols-3 gap-4">
        <AppItem image={egwCoverImage} title="EGW Chat" href="/egw-chat"/>
        <AppItem image={videoDiaryImage} href="/egw-chat" title="Video Diary" inProgress={true}/>
    </div>
</main>
<Footer/>
</body>
</html>
